body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    min-height: 100vh;
}

#header {
    padding: 0px;
    text-align: center;
    height: 25vh;
    width: 100vw;
}

#header img {
    height: 100%;
}

.navigation {
    background-color: #5c8d3e; 
    color: white;
    justify-content: space-between;
    display: flex;
    margin-top: 0px;
    width: 100vw;
}

.navigation a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0 20px;
}

.navigation a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
    height: 100%;
}

footer {
    background-color: #2f3b2f; 
    color: white;
    padding: 10px ;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.header-image {
    width: 100%;
    height: auto;
}

.products-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    grid-gap: 20px; 
    padding: 20px;
    width: 100%; 
    max-width: 1200px; 
    margin: 0 auto; 
  }
  
  .product-item {
    border: 1px solid #ddd; 
    border-radius: 4px; 
    overflow: hidden; 
    background-color: #fff; 
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    transition: transform 0.3s ease-in-out; 
  }
  
  .product-item:hover {
    transform: translateY(-5px); 
  }
  
  .product-item img {
    width: 100%;
    height: auto; 
    display: block; 
  }
  
  .product-info {
    padding: 10px; 
  }
  
  .product-title {
    margin: 0;
    font-size: 1.1em; 
    color: #333; 
  }
  
  .product-price {
    color: #5c8d3e; 
    font-weight: bold; 
  }
  
  /*for smaller screens */
  @media (max-width: 992px) {
    .products-grid {
      grid-template-columns: repeat(3, 1fr); 
    }
  }
  
  @media (max-width: 768px) {
    .products-grid {
      grid-template-columns: repeat(2, 1fr); /* 2 products per row on small screens */
    }
  }
  
  @media (max-width: 480px) {
    .products-grid {
      grid-template-columns: 1fr; /* 1 product per row on extra small screens */
    }
  }
  