{% extends 'base.html' %}
{% block content %}

<h1>About Us</h1>

<p>
    Founded by friends Paul Burgess, Patrick D'arcy, and Seryah William, EcoHarvest began as a simple idea: to make agriculture a cornerstone of our community. We envisioned a space where local farmers could thrive and residents could access fresh, sustainable produce. Beyond just a market, EcoHarvest is a movement, hosting pop-up events with our vendor's products in various communities to spread the joy and importance of locally-grown food. Join us as we cultivate a healthier, greener, and more connected world.
</p>

{% endblock %}
