{% extends 'base.html' %}
{% block content %}

<div class="banner">
<h1>Welcome to EcoHarvest</h1>
</div>

<div class="content">
    <p>At EcoHarvest, we believe in the power of local produce to bring a community together. Nestled in the heart of our community, our market serves as a purposeful gathering place where local farmers and gardeners bring their freshest produce directly to you. All our orders are placed online, allowing you to browse and select from the season's best offerings at your leisure.</p>
    <p>Once you've made your selection, simply visit us at the market to pick up your order and pay in cash. This system supports our local economy and fosters a closer connection between growers and consumers.</p>
    <p>Join us to support local farmers and enjoy the freshest produce your neighbors have to offer. We're more than a market—we're a community.</p>
</div>

</body>
</html>



{% endblock %}
